{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo_icon.png' %}">
    <title>{% block title %} {% endblock title %}</title>    
    {% tailwind_css %}
</head>
<body>
    <main class="w-full min-h-screen max-w-[120rem] mx-auto flex flex-col items-center bg-cover bg-center" style="background-image: url({% static 'img/fondo.png' %});">
    {% block content %}
    {% endblock %}
    <footer class="w-full mx-auto mt-auto bg-blue-800">
        <div>
            <p class="text-center text-white py-2 px-4">Developed by OSTI &mdash; 2024</p>
        </div>
    </footer>
    </main>
</body>
</html>

