{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    {% tailwind_css %}
    {% block links_ref %}{% endblock links_ref %}

</head>
<body class="flex flex-col h-screen">
    {% include 'core/header.html' %}
    <main class="flex flex-1 overflow-hidden">
        {% include 'core/aside.html' %}
        {% block content %}{% endblock content %}
    </main>
    {% include 'core/footer.html' %}
    <script src="{% static 'js/externo/jquery_3.6.3_jquery.min.js' %}"></script>
    <script src="{% static 'js/dashboard/dashboard.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>