{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo_icon.png' %}">

    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    {% tailwind_css %}
    {% block links_ref %}{% endblock links_ref %}

</head>
<body>
    <div class="relative min-h-screen">
        {% include 'core/preload.html' %}

        <!-- Aside -->
        {% include 'core/aside_alt.html' %}
        {% include 'core/header.html' %}
        {% block content %}{% endblock content %}
        
        {% include 'core/footer.html' %}
    </div>
    <script src="{% static 'js/externo/jquery_3.6.3_jquery.min.js' %}"></script>
    <script src="{% static 'js/preload.js' %}"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>