{% load static %}

<footer class="w-full sticky absolute z-[9999] bottom-0 left-0 bg-blue-800/80 h-10">
    <div class="flex items-center justify-center h-full text-white px-4">
        <p class="inline-block">Developed by OSTI &mdash; 2024</p>
        <img src="{% static 'img/develop.svg' %}" 
             alt="Developed" 
             class="h-8 inline-block ml-2 transition-all duration-300 ease-in-out transform hover:scale-110 hover:filter hover:brightness-0 hover:invert hover:sepia hover:saturate-200 hover:hue-rotate-45 hover:contrast-150"/>
    </div>
</footer>

