{% load static %}
<!-- 
<footer class="w-full sticky absolute z-[9999] bottom-0 left-0 bg-blue-800/80 h-10">
    <div class="flex items-center justify-center h-full text-white px-4">
        <p class="inline-block">Developed by OSTI &mdash; 2024</p>
        <img src="{% static 'img/develop.svg' %}" 
             alt="Developed" 
             class="h-8 inline-block ml-2 transition-all duration-300 ease-in-out transform hover:scale-110 hover:filter hover:brightness-0 hover:invert hover:sepia hover:saturate-200 hover:hue-rotate-45 hover:contrast-150"/>
    </div>
</footer> -->
<div class="fixed bottom-2 inset-x-0 flex justify-center z-50 ">
    <div class="flex items-center justify-center font-bold text-white bg-gray-800 bg-opacity-70 p-1 rounded-lg z-51">
        <p class="inline-block text-sm">Developed by OSTI &mdash; 2024</p>
        <img src="{% static 'img/develop.svg' %}" 
             alt="Developed" 
             class="h-8 inline-block ml-2 transition-all duration-300 ease-in-out transform hover:scale-110 hover:hue-rotate-45 invert"/>
    </div>
</div>

