{% extends 'core-dashboard/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <div id="mapa">
        {{ mapa|safe }}
    </div>
    <div class="sm:ml-52 ml-0 mt-4 mx-auto bg-white p-5">
        <table id="mytable" class="display">
            <thead>
                <tr>
                    <th>Columna 1</th>
                    <th>Columna 2</th>
                    <th>Columna 3</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

{% endblock  %}
{% block javascript %}
    <script src="{% static 'js/externo/jquery.dataTables.min.js' %}"></script>
{% endblock %}

