{% extends 'core-dashboard/base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock title %}

{% block content %}
<style>
    /* Estilos para el mapa */
    #mapa {
        width: 100% !important;
        padding-left: 208px !important;
        margin: auto !important;
        padding-top: 5rem !important;
    }
    @media (max-width: 767px) {
        #mapa {
            margin-left: 0 !important;
            width: 100% !important;
            padding-left: 0 !important;
        }
    }
</style>
    <div id="mapa">
        {{ mapa|safe }}
    </div>
    <div class="sm:ml-52 ml-0 mt-4 mx-auto">
        <table>
            <th>
                <tr>
                    <td>
hola
                    </td>
                </tr>
            </th>


        </table>
    </div>
{% endblock  %}

