{% extends 'core/base.html' %}
{% load static %}
{% block title %} Recuperar Contraseña {% endblock title %}

{% block content %}
<main class="w-full min-h-screen max-w-[120rem] mx-auto flex flex-col items-center bg-cover bg-center" style="background-image: url({% static 'img/fondo.png' %});">
    <div class="w-full min-h-[calc(100vh-40px)] flex items-center justify-center pb-4 px-4 bg-gradient-to-b from-cyan-600/80 to-blue-800/80">
        <form action="" onsubmit="showSpinner()" class="text-center w-full sm:w-2/3 lg:w-96 rounded-lg shadow-xl pb-10 bg-white" method="POST" autocomplete="off" novalidate>                             
            <h1 class="uppercase tracking-wide text-lg text-white font-semibold rounded-t-lg py-2 px-4 bg-[#1C3C6D]">Restablecer Contraseña</h1>
            <img class="mt-2 w-80 mx-auto object-contain" src="{% static 'img/LOGO-MAYNAS-02.png' %}" alt="MPM">
            <h6 class="text-gray-500 mt-5 text-lg sm:text-sm px-4 text-justify">Ingresa tu dirección de correo electrónico para restablecer tu contraseña:</h6>        
            <div>
                <div class="flex flex-col items-start mt-6 px-4">
                    <label for="" class="text-left text-gray-500">Correo Electrónico</label>
                    <input class="w-full p-2 border-2 rounded-lg text-md border-gray-500 focus:ring-0 focus:border-2 focus:border-blue-500 focus:outline-none focus:placeholder-transparent" type="email" name="username">
                </div>
            </div>
            <div class="flex flex-col items-center sm:flex-row sm:justify-between px-4">
                <label class="inline-flex items-center mt-6 opacity-0 pointer-events-none">
                    <input type="checkbox" class="form-checkbox h-4 w-4 focus:bg-blue-500 focus:outline-none">
                    <span class="ml-2 text-gray-800 text-lg sm:text-sm">Recordar Contraseña</span>
                </label>
            </div>
            <div class="px-2 sm:px-4">
                <input class="mt-9 w-full bg-[#1C3C6D] hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg cursor-pointer transition ease-in focus:outline-none" type="submit" value="ENVIAR">
            </div>
            <p class="text-gray-500 text-lg sm:text-sm mt-8">¿No tienes una cuenta? <a href="{% url 'register' %}" class="text-gray-800 hover:text-blue-500">Regístrate aquí</a></p>
        </form>
    </div>
    <footer class="w-full mx-auto mt-auto bg-blue-800/80">
        <div>
            <p class="text-center text-slate-700 py-2 px-4">Developed by OSTI &mdash; 2023</p>
        </div>
    </footer>
</main>


<div id="load-modal" class="hidden fixed z-[90] inset-0 items-center justify-center overflow-y-auto transition ease-in">
    <div class="flex flex-col justify-center items-center bg-black/50 w-32 rounded-lg aspect-square">
        <svg class="animate-spin -ml-1 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        <p class="text-white mt-2">CARGANDO...</p>
    </div>
</div>

<script>    
    function showSpinner() {
        document.getElementById('load-modal').classList.remove('hidden');
        document.getElementById('load-modal').classList.add('flex');

      }
  
      window.onload = function() {
        document.getElementById('load-modal').classList.remove('flex');
        document.getElementById('load-modal').classList.add('hidden');
      };    
</script>
<script src="{% static 'js/block_paste.js' %}"></script>

{% endblock  %}